body {
  --color-primary: #ff9c1b;
  --color-primary-dark: #3b073d;
  --color-secondary: #071e3d;
  --color-error: #cc3333;
  --color-success: #4bb544;
  --border-radius: 5px;
  --background-one: white;
  --background-two: #7e002e;
  --background-three: white;
  --background-four: #849a90;
  /* position: absolute; */
  /* background: linear-gradient(
      110deg,
      var(--background-three),
      var(--background-one)
    )
    var(--background-three); */
  /* background-image: url("../images/HTZJq4d.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: 120%;
  background-position: -10vw 30vw; */
  /* filter: grayscale(100%); */
  margin-left: 0%;
  margin-top: 0%;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  /* width: auto; */
  /* background-image: linear-gradient(
    180deg,
    var(--background-one),
    var(--background-two)
  ); */
  font-family: "Exo", Avenir, sans-serif;
}

.sun {
  width: 100%;
  /* size: 50%; */
  position: absolute;
  z-index: -1;
  filter: invert(100%);
  filter: grayscale(70%);
  transition: 0.3s;
  margin-left: -20%;
  margin-top: 20%;
  opacity: 0.5;
  /* padding: 0vw 0vw 1vw 0vw; */
}

.tile:hover .sun {
  width: 102%;
  filter: invert(0%);
  filter: grayscale(100%);
  transition: 0.3s;
  margin-left: -21%;
  opacity: 0.8;
  /* shadow: 10px 10px 8px 10px var(--color-primary); */
  -webkit-filter: drop-shadow(1px 1px 30px rgb(249, 87, 0));
}

.logo {
  /*inside  Menu*/
  background-image: url("../images/Logo_clean.png");
  background-repeat: no-repeat;
  background-size: 270px;
  align-items: top;
  display: block;
  margin: 0vh 5vh 5vh 5vh;
  width: 270px; /*fill all of the menu*/
  height: 50px;
  position: absolute;
  top: 2.5vh;
}

h1 {
  position: absolute;
  margin: 22.5vh 0 77.5vh 0;
  color: #ff9c1b;
  text-shadow: 0 0 10px #ffa733;
}

.tile {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background-color: var(--color-secondary);
  max-width: 2000px;
  /* padding: 25px; */
  /* margin: 10vh 10vh 0 10vh; */
  position: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.instruction-text {
  position: relative;
  display: block;
  /* font-size: 19px; */
  font-size: clamp(0.5em, 0.25em + 2vw, 2em);
  font-weight: 300;
  color: white;
  text-align: center;
  padding: 5vw 4vw 1vw 4vw;
  width: 60vw;
  /* max-width: 905px; */
}

span {
  font-weight: 600;
  /* color: black; */
}

@media (max-width: 450px) {
  .instruction-text {
    font-size: 16px;
    width: 90vw;
  }
  .calc-Container {
    font-size: 13px;
    width: 35vh;
  }
  form {
    /* width: 90vw; */
    padding: 0 15vw;
    margin: 0 15vw;
  }
  .sun {
    margin-left: -5%;
    margin-top: 0;
  }
  .tile:hover .sun {
    margin-left: -6%;
  }
}

form {
  display: flex;
  justify-content: center;
  padding: 1vw 3vw 4vw 3vw;
  width: 60vw;
}

.calc-Container {
  /* height: 4vh; */
  position: relative;
  display: block;
  margin: 2vh 8vh 2vh 8vh;
  background-color: var(--background-three);
  color: var(--color-primary);
  border: 0;
  border-radius: 10px;
  padding: 1vh;
  text-align: center;
  width: 20vh;
  justify-content: center;
}

.calc-Container:hover {
  background-color: white;
  color: #ff9c1b;
  -o-transition: 0.5s;
  -ms-transtion: 0.5s;
  -maz-transtion: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  justify-content: center;
  text-shadow: 0 0 8px #ffa733;
}

.calc {
  position: relative;
  display: block;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  background-color: transparent;
  border: transparent;
  color: white;
  justify-content: center;
  padding: 0.5vh 0;
  text-align: center;
}

.calc:hover {
  text-color: white;
}

button:active,
button:focus {
  -moz-outline-style: none; /*removes ouline from button*/
  outline: none;
}
