body {
  --color-primary: #ff9c1b;
  --color-primary-dark: #3b073d;
  --color-secondary: #071e3d;
  --color-error: #cc3333;
  --color-success: #4bb544;
  --border-radius: 5px;
  --background-one: white;
  --background-two: #7e002e;
  --background-three: white;
  --background-four: #849a90;
  /* position: absolute; */
  background: linear-gradient(
      110deg,
      var(--background-three),
      var(--background-one)
    )
    var(--background-three);
  margin-left: 0%;
  margin-top: 0%;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  /* width: auto; */
  /* background-image: linear-gradient(
    180deg,
    var(--background-one),
    var(--background-two)
  ); */
  font-family: "Exo", Avenir, sans-serif;
}

.logo {
  /*inside  Menu*/
  background-image: url("../images/Logo_clean.png");
  background-repeat: no-repeat;
  background-size: 270px;
  align-items: top;
  display: block;
  margin: 0vh 5vh 5vh 5vh;
  width: 270px; /*fill all of the menu*/
  height: 50px;
  position: absolute;
  top: 2.5vh;
}

h1 {
  position: absolute;
  margin: 22.5vh 0 77.5vh 0;
  color: #ff9c1b;
  text-shadow: 0 0 10px #ffa733;
}

.tile {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background-color: var(--color-secondary);
  max-width: 2000px;
  /* padding: 25px; */
  /* margin: 10vh 10vh 0 10vh; */
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.instruction-text {
  position: relative;
  display: block;
  /* font-size: 19px; */
  /*font-size: clamp(0.5em, 0.25em + 2vw, 2em);*/
  font-size: 25px;
  font-weight: 300;
  color: white;
  text-align: center;
  padding: 5vw 4vw 1vw 4vw;
  width: 60vw;
  /* max-width: 905px; */
}

div.instruction{
    position: relative;
    display: block;
    /*font-size: clamp(0.5em, 0.25em + 2vw, 2em);*/
    font-size: 20px;
    font-weight: 300;
    color: white;
    text-align: left;
    padding: 5vw 4vw 1vw 4vw;
    width: 60vw;
    color: gray;
}

span {
  font-weight: 600;
  /* color: black; */
}

@media (max-width: 450px) {
  .instruction-text {
    font-size: 16px;
    width: 90vw;
  }
  .calc-Container {
    font-size: 13px;
    width: 35vh;
  }
  form {
    /* width: 90vw; */
    padding: 0 15vw;
    margin: 0 15vw;
  }
}

form {
  display: flex;
  justify-content: center;
  padding: 1vw 3vw 4vw 3vw;
  width: 60vw;
}

.calc-Container {
  /* height: 4vh; */
  position: relative;
  display: block;
  margin: 2vh 8vh 2vh 8vh;
  background-color: var(--background-three);
  color: var(--color-primary);
  border: 0;
  border-radius: 10px;
  padding: 1vh;
  text-align: center;
  width: 20vh;
  justify-content: center;
  opacity: 0.7;/*opacity for verifyAction in JavaScript*/
}

.calc-Container:hover {
  background-color: white;
  color: #ff9c1b;
  -o-transition: 0.5s;
  -ms-transtion: 0.5s;
  -maz-transtion: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  justify-content: center;
  text-shadow: 0 0 8px #ffa733;
}

.calc {
  position: relative;
  display: block;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  background-color: transparent;
  border: transparent;
  color: white;
  justify-content: center;
  padding: 0.5vh 0;
  text-align: center;
}

.calc:hover {
  text-color: white;
}

button:active,
button:focus {
  -moz-outline-style: none; /*removes ouline from button*/
  outline: none;
}
div.options{
    position: relative;
    margin-top: 5vh;
    /* padding: 25px; */
    /* margin: 10vh 10vh 0 10vh; */
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
/* Customize the label (the container) */
div.optA, div.optB{
    position: relative;
    display: flex;
    width: 60vw;
    height: 65px;
    border: 2px solid gray;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-top: 3vh;
}
select.optA{
    position: relative;
    display: block;
    color: #70747f;
    width: 100%;
    height: 50px;
    background: #f0f0f0;
    border: transparent;
    font-size: clamp(0.5em, 0.25em + 2vw, 2em);
    font-weight: 300;
    background-color: var(--background-three);
    border: 0;
    border-radius: 3px 3px 3px 3px;
}
select.optA:focus {
    outline:none;
}
#autocomplete{
    position: relative;
    display: block;
    width: 95%;
    height: 50px;
    color: #70747f;
    font-size: clamp(0.5em, 0.25em + 2vw, 2em);
    font-weight: 300;
    background-color: var(--background-three);
    border: 0;
    border-radius: 3px 0px 0px 3px;
}
#autocomplete:focus {
    outline:none;
}
i.fa-search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    float: left;
    background: #f0f0f0;
    border: transparent;
    font-size: 17px;
    cursor: pointer;
    color: #70747f;
    width: 100%;
    height: 51px;
    padding-top: 1px;
    background-color: var(--background-three);
    border: 0;
    border-radius: 0px 3px 3px 0px;
}
div.search{
    position: relative;
    display: inline-block;
    width: 5%;
    height: 80%;
    background-color: var(--background-three);
    border: 0;
    border-radius: 0px 3px 3px 0px;
    text-align: center;
    vertical-align: middle;
}
/* Customize the label (the container) */
label.container {
    position: relative;
    display: flex;
    margin-top: 3vh;
    cursor: pointer;
    width: 60vw;
    height: 60px;
    border-color: white; 
    font-size: clamp(0.5em, 0.25em + 2vw, 2em);
    font-weight: 300;
    background-color: var(--background-three);
    border: 0;
    border-radius: 3px 3px 3px 3px;
}
.text {
    position: relative;
    margin-top: 16px;
    margin-left: 55px;
    display: inline-block;
    cursor: pointer;
    font-size: 19px;
    font-weight: 300;
    vertical-align: middle;
}
label.container:hover {
    background-color: lightgray;
    -o-transition:0.5s;
    -ms-transtion:0.5s;
    -maz-transtion:0.5s;
    -webkit-transition:0.5s;
    transition:0.5s;
}
/* Hide the browser's default radio button */
label.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top:14px;
  left: 0vw;
  vertical-align: middle;
  height: 25px;
  width: 25px;
  background-color: transparent;
  margin-left: 15px;
  border: solid;
  border-color: #081e3d;
  border-radius: 50%;
}
/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #081e3d;
}

